.file-input-wrapper {
    border-color: gainsboro;
    color: #000000;
}

.image-span {
    width: 120px;
    height: 100px;
    display: block;
    background-position: 50% !important;
    background-size: contain !important;
}

.image-span-2 {
    width: 90px;
    height: 130px;
    border: 1px solid #0079d2;
    display: block;
    background-position: 50% !important;
    background-size: cover !important;
}

.image-span-3 {
    width: 200px;
    height: 290px;
    border: 1px solid #0079d2;
    display: block;
    background-position: 50% !important;
    background-size: contain !important;
    margin-left: 60px;
}

.x-grid-row .x-grid-cell-inner {
    white-space: normal;
}

.x-form-type-text input.x-form-invalid-field {
    border-color: #cf4c35 !important;
}

#book-admin-table .x-grid-row-editor-buttons-default-bottom, #book-cart-table .x-grid-row-editor-buttons-default-bottom {
    top: 115px !important;
}

#book-admin-table .x-grid-row-editor-buttons-default-top, #book-cart-table .x-grid-row-editor-buttons-default-top {
    bottom: 120px !important;
}

#book-store-table {
    margin: auto;
    /*overflow-y: scroll !important;*/
    padding-top: 10px;
    background-color: white;
}

.book-wrap {
    padding: 10px;
    width: 300px;
    height: 150px;
    /*background-color: #ddd;*/
    /*border: 1px solid #999;*/
    display: inline-flex;
    float: left;
    margin-bottom: 10px;
    margin-left: 7px;
    margin-right: 7px;
}

.x-item-selected {
    background: #DFEDFF;
    border: 1px solid #6593cf;
    padding: 9px;
}

.label-right {
    /*float: right;*/
    margin-left: 10px;
    overflow: hidden;
    width: 190px;
}

.img-left {
    /*float: left;*/
    width: 90px !important;
}

.title {
    color: #039;
    text-decoration: underline;
    font: 16px Verdana, Tahoma, Helvetica, 'MS Sans Serif', sans-serif;
}

.author {
    color: #808080;
    font-size: 11px;
    line-height: 16px;
}

.price {
    position: relative;
    font-size: 11px;
    line-height: 16px;
    font-weight: bold;
}

.title-info {
    color: #039;
    text-decoration: underline;
    font: 16px Verdana, Tahoma, Helvetica, 'MS Sans Serif', sans-serif;
}

.author-info {
    color: #808080;
    font-size: 11px;
    line-height: 16px;
}

.description-info {
    padding: 5px;
}

.x-tab-default {
    text-decoration: none !important;
}

.x-btn-default-toolbar-small .x-btn-inner {
    color: #fff;
}

#store-panel-body {
    overflow-x: hidden !important;
}

.btn-default .x-btn-inner {
    color: #000 !important;
}

.cart {
    font-size: 12px;
    line-height: 16px;
    height: 20px;
}

#cart-toolbar .x-item-selected {
    background: #DFEDFF;
    border: 1px solid #6593cf;
    padding: 0px;
    border: 1px solid #000000;
}

#top-toolbar-body {
    background-color: #3892d3;
    border-color: #3892d3;
    color: #ffffff;
    text-size: 16px;
}

#cart-preview-grid-body {
    overflow-y: scroll;
    overflow-x: hidden;
}


#cart-toolbar-main .x-tool-collapse-right {
    margin-bottom: 5px !important;
    margin-left: -5px !important;
}

.x-region-collapsed-right-placeholder .x-tool-expand-left {
    margin-left: -1px !important;
}

.x-region-collapsed-right-placeholder  .x-panel-header-text-container-default {
    top: 32px !important;
}